
html {
	scroll-behavior: smooth;
}

body {
	color: var(--color-text);
	font-family: var(--font-main);
	text-wrap: balance;
	font-weight: 500;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
	
}


