.search-container {
	display: none;
	@include tablet {
		display: flex;
		align-items: center;
		gap: 5px;
		width: 100%;
		justify-content: flex-end;
	}
    
}

.search-form {
    display: flex;
    align-items: center;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.search-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 60px;
    outline: none;
}


.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

/* При відкритті форми пошуку */
.search-container.active .search-form {
    width: 100%;
}