.categories {
    // .categories__title
    margin-bottom: rem(55);
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: rem(32);
        color: #333;
    }   
    // .categories__text
    &__text {
        text-align: center;
        font-weight: 400;
        font-size: rem(20);
        margin-bottom: rem(62);
    }
    // .categories__carts
    &__carts {
        display: flex;
        justify-content: space-between;
        gap: rem(15);
        align-items: center;
    }
    // .categories__carts-link
    &__carts-link {}
    // .categories__carts-img
    &__carts-img {
        margin-bottom: rem(30);
        border-radius: 10px;
    }
    // .categories__carts-text
    &__carts-text {
        text-align: center;
        font-weight: 600;
        @include adaptiv-value(font-size, 24, 16, 1);
        color: #333;
    }
}
