.filter-content-hiden{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
}

 .filter-content {
    position: absolute;
    overflow-y: auto;
    padding: rem(20) rem(60) rem(20) rem(20);
    max-width: rem(450);
    width: 100%;
    max-height: rem(1200);
    background-color: rgb(255, 255, 255);
    transition: all 0.2s ease-in;
    z-index: 999;
    
    // .filter-content__top
    &__top {
        margin-bottom: rem(70);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .filter-content__top-title
    &__top-title {
        font-size: rem(26);
        color: var(--color-black);
    }
    // .filter-content__top-btn
    &__top-btn {
        
    }
    // .filter-content__spoiler
    &__spoiler{
        
    }
    // .filter-content__spoiler-btn
    &__spoiler-btn{
        position: relative;
        margin-bottom: rem(10);
        font-size: rem(20);
        color: var(--color-black);
        &::after{
            content: url(../../img/braedcrambs_arow_left.svg);
            position: absolute;
            right: -20px;
            transition: all 0.2s ease-in;
        }
    }
     &__spoiler-btn-activ{
        &::after{
            transform: rotate(90deg);
        }
        
     }
    // .filter-content__checkbox-wraper
    &__spoiler-checkbox-wraper{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: all 0.2s ease-in;
        margin-bottom: rem(20);
    }
    &__spoiler-checkbox-wraper-active{
        max-height: 100%;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    // .filter-content__castom-chakbox
    &__castom-chakbox{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
    }

    &__castom-chakbox input{
        display: none;
    }

    &__castom-chakbox span{
        width: 20px;
        height: 20px;
        border: 2px solid var(--color-title);
        border-radius: 4px;
        display: inline-block;
        position: relative;
        margin-right: 8px;
        transition: 0.3s;
    }
    
    &__castom-chakbox input:checked + span{
        background-color: var(--color-text);
        border-color: var(--color-title);
    }

    &__castom-chakbox input:checked + span::after{
        content: "✔";
        font-size: 16px;
        color: white;
        position: absolute;
        left: 2px;
        top: -4px;
    }
    // .filter-content__btn-submit
    &__btn-submit{
        display: block;
        margin: 0 auto;
        padding: rem(12) rem(56);
        background-color: var(--color-btn);
        font-weight: 600;
        line-height: 150%;
        color: #fff;    
        transition: all 0.2s ease-in;
        
        &:hover{
            background-color: #a8832d;
        }
    }

}



#slider{
    height: 10px;
    margin-bottom: 80px;
}

#slider .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    &::before{
        content: '';
        display: none;
    }
    &::after{
        content: '';
        display: none;
    }
}

#slider .noUi-base {
    border-radius: 50%;
}


.custom-slider .noUi-connect {
    background: #b8b03f;
}

.custom-slider{
    border-radius: 100%;
}

