.galery {
    margin-bottom: rem(50);
    // .galery__content
    &__content {
        text-align: center;
    }
    // .galery__text
    &__text {
        margin-bottom: rem(8);
        font-weight: 600;
        font-size: rem(20);
        line-height: 150%;
        color: #616161;
    }
    // .galery__titile
    &__titile {
        font-weight: 700;
        font-size: rem(40);
        line-height: 120%;
        color: var(--color-title);
    }
    // .galery__items
    &__items{
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: rem(16);
        justify-content: flex-start;
        max-width: 100%;
        scroll-snap-type: x mandatory;
    }
    // .galery__wrapper
    &__wrapper {
        display: flex;;
        flex-direction: column;
        gap: rem(16);
    }
    // .galery__item1
    &__item1 {
        display: flex;
        align-items: end;
        gap: rem(16);
    }
    // .galery__item2
    &__item2 {
        display: flex;
        align-items: start;
        gap: rem(16);
    }
    // .galery__item3
    &__item3 {
        display: flex;
        align-items: center;
    }
    // .galery__item4
    &__item4 {
        display: flex;
        align-items: end;
        gap: rem(16);
    }
    // .galery__item5
    &__item5 {
        display: flex;
        gap: rem(16);
    }
}
  .galery__item1 img, .galery__item2 img, .galery__item3 img, .galery__item4 img, .galery__item5 img {
    max-width: none;
    height: auto;
    width: auto;
  }
  
.galery__items-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.galery__items::-webkit-scrollbar {
    height: 8px;
}

.galery__items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.galery__items::-webkit-scrollbar-thumb:hover {
    background: #555;
}