.logo{
    display: flex;
    align-items: center;

    
    &__text{
        margin-left: rem(5);
        font-family: var(--font-accent);
        font-weight: 700;
        font-size: rem(34);
        line-height: 140%;
        color: var(--color-black);
    }   
}