.mobile-nav {
	position: fixed;
	// top: 0;
	right: -100%;
	width: 75%;
	height: 100%;
    z-index: 99;

	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(209deg, #7b909c -17.38%, #63686d 78.4%), #000000;
	
	// background: #949494;
	transition: all 0.2s ease-in;
}

.mobile-nav--open {
	right: 0;
}

.mobile-nav a {
	color: #fff;
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	font-size: 28px;

	& .active {
		opacity: 0.5;
	}
}

