.product-description {
    margin-bottom: rem(66);
    // .product-description__description-buttons
    &__description-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(52);
        margin-bottom: rem(32);
        @include adaptiv-value(font-size, 24, 18, 1);
    }
    // .product-description__description-btn
    &__description-btn {}
    // .product-description__info-btn
    &__info-btn {}
    // .product-description__reviews-btn
    &__reviews-btn {}
    // .product-description__description-content
    &__description-content {
        
    }
    // .product-description__description-text
    &__description-text {}
    // .product-description__images
    &__images {
        display: flex;
        margin-top: rem(32);
        gap: rem(30);
    }
    &__images img{
        background: #F9F1E7;
        border-radius: 10px;
    }
    // .product-description__info-content
    &__info-content {
        
    }
    // .product-description__info-text
    &__info-text {}
    // .product-description__reviews-content
    &__reviews-content {
        
    }
    // .product-description__reviews-text
    &__reviews-text {}
}

.product-description__content{
    font-weight: 400;
    text-align: justify;
    max-height: 1000px;
    transition: opacity 0.5s ease, max-height 0.5s ease, visibility 0.5s;
}

.hiden{
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
}

.active{
    color: var(--color-black);
}