.rooms {
    // .rooms__wrapper
    margin-bottom: rem(17);
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    // .rooms__info
    &__info {
        margin: 0 auto;
        max-width: rem(422);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    // .rooms__info-title
    &__info-title {
        margin-bottom: rem(7);
        font-weight: 700;
        @include adaptiv-value(font-size, 40, 28, 1);
        line-height: 120%;
        color: var(--color-title);
    }
    // .rooms__info-text
    &__info-text {
        margin-bottom: rem(25);
        line-height: 150%;
        color: #616161;
    }
    // .rooms__info-btn
    &__info-btn {
        padding: rem(12) rem(36);
        background-color: var(--color-btn);
        font-weight: 600;
        line-height: 150%;
        color: #fff;    
        transition: all 0.2s ease-in;
        
        &:hover{
            background-color: #a8832d;
            -webkit-box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.53);
            -moz-box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.53);
            box-shadow: 0px 0px 34px -1px rgba(0, 0, 0, 0.53);
        }
    }
}

.slide{
    // .slide__img
    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    // .slide__content
    &__content {
        visibility: hidden;

        position: absolute;
        bottom: 48px;
        left: 24px;
        width: rem(217);
        height: rem(130);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    // .slide__content-num
    &__content-num {
        
    }
    // .slide__content-line
    &__content-line {
        content: url(../../img/rooms_swiper/line.svg);
        margin-bottom: 4px;
    }
    // .slide__content-name
    &__content-name {
        font-weight: 600;
        font-size: rem(28);
        line-height: 120%;
        color: var(--color-title);
    }
    // .slide__content-link
    &__content-link {
        opacity: 0;
        visibility: hidden;

        position: absolute;
        bottom: 48px;
        left: 241px;
        display: inline-block;
        padding: rem(18) rem(15);
        background-color: var(--color-btn);
        transition: all 0.2s ease-in;
        
        &:hover{
            background-color: #66501c;
        }
    }
    // .slide__content-link-arow
    &__content-link-arow {}
}

.rooms .rooms__swiper{
    padding-bottom: rem(50);
    max-width: 700px;
    margin-top: rem(20);
}

.rooms__swiper .swiper-wrapper{
    
}

.rooms__swiper .swiper-slide{
    height: 85%;
    overflow: hidden;
}

.rooms__swiper .swiper-slide-active{
    height: 100%;
    transition: all 0.2s ease-in;
}

.swiper-slide-active{
    .slide__content{
        background: rgba(255, 255, 255, 0.72);
        visibility: visible;
    }
    .slide__content-link{
        opacity: 1;
        visibility: visible;
    }
}

.rooms .rooms__swiper .swiper-pagination {
    position: absolute;
    bottom: 89px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 16px;
    z-index: 99;
    @media(max-width: 720px) {
        justify-content: center;
        bottom: 0;
    }
}

.rooms__swiper  .swiper-pagination-bullet{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: none;
    &::before{
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        background-color: #1f1f1f;
        border-radius: 50%;
    }
}

.rooms__swiper .swiper-pagination-bullet-active{
    border: 1px solid var(--color-btn);
    background: none;

    &::before{
        content: '';
        display: block;
        background: var(--color-btn);
    }
}

.rooms__swiper .swiper-button-prev,
.rooms__swiper .swiper-button-next {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  right: 0;
  background-color: #fff;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 111;
  transition: all 0.2s ease-in;
  &:hover{
    background-color: #dbdbdb;
  }
  &::after{
    display: none;
  }
}
  


